:root {
  --background: #f5e8aa;
  --link-color: #eecd8f;
  --text-color: #e7bd7b;
  --title-color: #e5b161;
}

body {
  background-color: var(--background);
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-size: 48px;
  font-weight: 900;
  margin: 20px 10px 0;
}

h2 {
  font-size: 28px;
  font-style: italic;
  font-weight: 400;
  margin: 0 10px 15px;
}

h1,
h2 {
  color: var(--title-color);
}

p {
  color: var(--text-color);
}

a {
  color: var(--link-color);
  text-decoration: none;
}

img {
  border-radius: 10px;
  box-shadow: 1px 2px 20px 1px var(--text-color);
  margin: 30px auto;
  width: 650px;
}
